/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h2,h3,h4,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

/* Основные стили */

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 250px;
}

/* Раздел Header */

.header {
	margin: 0 auto;
	max-width: 1440px;
	background: url(../img/header.png) center no-repeat;
}
.header_container {
	padding: 41px 0 71px 0;
	height: 768px;
	text-align: center;
}
.header_logo img {
	width: 102px;
	height: 23px;
	vertical-align: middle;
}
.header_title {
	padding: 317px 0 0 0;
	color: #FFFFFF;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 60px;
	letter-spacing: 5.71px;
}
.header_subtitle {
	padding: 21px 0 0 0;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
}
.header_text_bottom {
	padding: 221px 0 0 0;
}
.header_text_bottom a {
	color: #FFFFFF;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.header_text_bottom a:hover {
	color: #00A4E5;
}

/* Раздел Menu */

.header_menu .container {
	border: 1px solid #E6E6E6;
}
.header_menu .menu {
	padding: 25px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_menu .logo_menu img {
	width: 80px;
	height: 18px;
}
.header_menu ul {
	display: flex;
	margin: 0 -20px;
}
.header_menu ul li {
	list-style: none;
	margin: 0 20px;
}
.header_menu ul li:last-child {
	padding-right: 0px;
}
.header_menu ul li a{
	color: #48555B;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.header_menu ul li a:hover {
	color: #00A4E5;
}

/* Раздел "Our story" */

.story {
	padding: 50px 0;
}
.story_left {
	max-width: 350px;
	margin-right: 50px;
}
.story_title_2 {
	columns: #48555B;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	padding: 30px 0;
	color: #48555B;
}
.story_title_2:after {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #00A4E5;
	display: block;
	margin: 10px auto 0;
}
.story_inner {
	display: flex;
	justify-content: center;
	
}
.story_title_3 {
	color: #48555B;
	font-weight: bold;
	font-size: 20px;
}
.accent-color {
	color: #00A4E5;
}
.story_text {
	color: #48555B;
}
.story_right {
	display: flex;
	align-items: flex-end;
}
.story_item {
	padding: 15px;
	font-size: 24px;
	color: white;
	font-weight: 800;
	text-transform: uppercase;
	width: 140px;
	height: 224px;
	margin-right: 20px;
}
.story_item:nth-child(1) {
	background-image: url(../img/we_plane.png);
}
.story_item:nth-child(2) {
	background-image: url(../img/we_manage.png);
}
.story_item:nth-child(3) {
	background-image: url(../img/we_build.png);
	margin-right: 0;
}

/* Раздел ""Our capabilities */

.services_top {
	display: flex;
	margin-bottom: 50px;
}
.services_title_2 {
	width: 38%;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2.31px;
	text-transform: uppercase;
	color: #48555B;
}
.services_title_2:after {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #00A4E5;
	display: block;
	margin: 10px 0 0;
}
.services_text_button {
	width: 62%;
	display: flex;
	justify-content: space-between;
}
.services_text {
	width: 400px;
	font-size: 11px;
	line-height: 19px;
	color: #48555B;
}
.services_button {
	
	width: 150px;
	height: 40px;
	text-align: center;
	background-color: #00A4E5;
}
.services_button:hover {
	background-color: #72c1e0;
	
}
.services_button a:hover {
	color: #48555B;
}
.services_button a {
	display: block;
	font-size: 13px;
	font-weight: 600;
	line-height: 40px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.services_bottom {
	display: flex;
	justify-content: center;
}
.services_item {
	border: 1px solid #E6E6E6;
	width: 295px;
	padding: 38px 23px;
	margin-right: 27px;
}
.services_item:last-child {
	margin-right: 0;
}
.item_img {
	padding-bottom: 25px;
}
.item_title {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #48555B;
	padding-bottom: 13px;
}
.item_text {
	font-size: 13px;
	font-weight: 400;
	color: #48555B;
	line-height: 23px;
}

/* Раздел "Get in touch" */

.get-in-touch {
	margin: 0 auto;
	max-width: 1440px;
	background: url(../img/get-in-touch.png) center no-repeat;
}
.get-in-touch_content {
	text-align: center;
	height: 499px;
}
.get-in-touch_content h1 {
	width: 355px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #48555B;
	margin: 0 auto 35px;
	padding: 120px 0 0 0;
}
.get-in-touch_content h1:first-letter {
	text-transform: uppercase;
}
.get-in-touch_button {
	outline: none; /* Отключаем внешнюю границу кнопки */
	width: 150px;
	height: 40px;
	text-align: center;
	background-color: #00A4E5;
	margin: 0 auto;
}
.get-in-touch_button:hover {
	background-color: #72c1e0;
}
.get-in-touch_button a:hover {
	color: #48555B;
}
.get-in-touch_button a {
	display: block;
	font-size: 13px;
	font-weight: 600;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
}

/* Раздел "Newsletter signup (подписка)" */

.email .container {
	height: 100px;
	background-color: #171819;
}
.email_container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}
.email_title {
	width: 250px;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.85px;
	color: #ffffff;
	white-space: nowrap;
}
.email_container form {
	display: flex;
}
.email_container form input {
	background-color: #ffffff;
	border-top: 1px solid #979797;
	border-bottom: 1px solid #979797;
	border-left: 1px solid #979797;
	width: 250px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	padding-left: 16px;
}
.email_container form button {
	width: 150px;
	height: 40px;
	text-align: center;
	background-color: #00A4E5;
	font-size: 13px;
	font-weight: 600;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
}
.email_container form button:hover {
	background-color: #72c1e0;
	color: #48555B;
}


/* Footer */

.footer {
	color: #ffffff;
	font-size: 11px;
	letter-spacing: 0.85px;
}
.footer_links {
	background-color: #141A20;
}
.grid_contant-links {
	display: grid;
	grid-template-columns: 250px 333px 199px 1fr;
	grid-auto-rows: auto;
	padding: 42px 0;
}
.grid_contant-links h3 {
	text-transform: uppercase;
}
.company-title {
	margin: 0px 0px 19px 0px;
}
.company-logo {
	margin: 0px 0px 15px 0px;
}
.company-logo img {
	width: 102px;
}
.company-text {
	line-height: 19px;
	padding-right: 25px;
}
.grid_links {
	padding-left: 71px;
	display: grid;
	grid-template-columns: repeat(3, 87px);
	grid-template-rows: repeat(6, 1fr);
	grid-auto-flow: column;
}

.grid__item a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 600;
}
.grid__item a:hover {
	color: #00A4E5;
}
.link1 {
	grid-column: span 3;
}
.grid_contact {
	padding-left: 38px;
}
.contact_title {
	margin: 0px 0px 19px 0px;
}
.contact_text {
	line-height: 16px;
	padding: 0 25px 10px 0;
}
.contact_phone {
	padding-bottom: 10px;
}

.footer_social {
	
	display: flex;
	padding: 34px 0 0 20px;
}
.footer_social a {
	font-size: 13px;
	color: #ffffff;
}
.footer_social a:hover {
	color: #00A4E5;
}
.footer_social .icon {
	margin-right: 15px;
}
.footer_social .icon:last-child {
	margin-right: 0;
}
.footer_copyright {
	background-color: #171819;
	height: 60px;
	letter-spacing: 0.85px;
	text-align: center;
	line-height: 60px;
}

/* @media screen and (max-width: 1440px) {
	.container {
		padding: 0 250px;
	}
} */
@media screen and (max-width: 1366px) {
	.container {
		padding: 0 150px;
	}
	.grid_contant-links {
		grid-template-columns: 333px 333px;
		justify-content: center;
		column-gap: 50px;
		row-gap: 50px;
	}
	.grid_links{
		padding-left: 0;
		justify-content: end;
	}
	.grid_contact {
		padding-left: 0;
	}
	.footer_social {
		justify-content: center;
		align-items: center;
		padding: 0;
		
	}
}
@media screen and (max-width: 1024px) {
	.container {
		padding: 0 100px;
	}
	.header_menu .menu {
		flex-direction: column;
		align-items: center;
	}
	.header_menu ul {
		padding-top: 20px;
	}
	.story {
		padding: 0 0 25px 0;
	}
	.story_left h3, .story_left p {
		margin-bottom: 20px;
	}
	.story_inner {
		flex-wrap: wrap;
	}
	.services_top {
		flex-direction: column;
		margin-bottom: 25px;
	}
	.services_title_2 {
		width: auto;
		margin-bottom: 20px;
		text-align: center;
	}
	.services_title_2:after {
		margin: 10px auto 0;
	}
	.services_text_button {
		width: auto;
	}
	.services_bottom {
		flex-wrap: wrap;
	}
	.services_item {
		margin-bottom: 27px;
	}
	.grid_contant-links {
		grid-template-columns: 290px 290px;
		justify-content: center;
		gap: 15px;
		padding: 20px 0;
	}
	.contact_text {
		padding-right: 0;
	}
}
@media screen and (max-width: 800px) {
	.container {
		padding: 0 25px;
	}
	.email .container {
		height: 180px;
	}
	.email_title {
		margin-bottom: 20px;
		text-align: center;
	}
	.email_container {
		flex-direction: column;
		padding: 20px 0;
	}
	.email_container form {
		flex-direction: column;
		align-items: center;
	}
	.email_container form input {
		padding: 0;
		text-align: center;
		border: 1px solid #979797;
		margin-bottom: 10px;
	}
	.grid_contant-links {
		grid-template-columns: 333px;
		justify-content: center;
		row-gap: 20px;
		padding: 20px 0;
	}
	.grid_links {
		justify-content: stretch;
		gap: 5px;
	}
}
@media screen and (max-width: 500px) {
	.header_menu ul {
		flex-wrap: wrap;
		justify-content: center;
	}
	.header_menu ul li {
		margin-bottom: 20px;
	}
	.header_menu ul li:last-child {
		margin-bottom: 0;
	}
	.story {
		padding: 0;
	}
	.story_right {
		flex-wrap: wrap;
	}
	.story_item {
		margin-bottom: 20px;
	}
	.services_text_button {
		flex-direction: column;
	}
	.services_text {
		margin-bottom: 20px;
		width: auto;
	}
	.services_button {
		margin: 0 auto;
	}
	.services_item {
		margin-right: 0;
	}
	.get-in-touch_content h1 {
		width: auto;
	}
	.grid_contant-links {
		grid-template-columns: 250px;
		justify-content: center;
		row-gap: 25px;
		padding: 20px 0;
	}
}

